/* A big file for all the base css classes that can later be called somewhere else: keeps the html cleaner */

#error { display: block; color: red; }

body, select, input, textarea{color:#333}

/*Typography section */

h1,h2,h3,h4,h5,p{font-size:12px; font-family: Helvetica, sans-serif; text-align:left; margin:1em; color: #292421;}
h1{font-size:20px; font-family:bold; margin-bottom:1em; text-align: center;}
h2{font-size:18px; font-family:bold; margin-bottom:1.2em; text-align: center;}
h3{font-size:15px; margin-bottom:1.5em; text-indent: 10px}
h4{font-size:15px;}
h5{font-family:italic; margin-bottom:1.5em; text-indent:5px;}
p{margin-bottom:0.5em;}

a:link {color: #009900;}
a:visited {color: #999999;}
a:hover {color: #333333;}
a:focus {color: #333333;}
a:active {color: #009900;}

/*basic look*/
#response{
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width:80%;
  float: left;
  margin: auto;
}

/*Friends Page*/

#friends {
  background: #EED5D2;  /* Make this dependant on the color of the tab -  TBD*/
}

/*Index menu - tabs*/
.menu_options{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu_options li {
  float: left;
  margin: 0 -5px 0 0;
}

.menu_options a {
	font-family:"Comic Sans", Helvetica,sans-serif;
	float: left;
  position: relative;
  padding: 0 40px;
  height: 0; 
  line-height: 30px;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #3D3D3D;
  color: #C1CDCD;
  opacity: .3;
	filter: alpha(opacity=30);	
}

/*Help Page*/

.help{
  float: left;
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
	width:80%; 
	margin: auto; 
	padding:20px; 
	border: 1px solid #666; 
	background-color: #CDC1C5;
  }

/*Login Page*/


/*User Profile*/
.profile {
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
 background: #BFEFFF;
}

/*Battle section + results*/
.monster_battle {
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
  background: #EED2EE;
}
#battle_results{
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
  background: #EED2EE;
}


/*Notifications Page */
.notifications_list {
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
  background: #FDF5E6;
}

/*Auction Page+ results*/
#monster_auction{
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
  background: #BDFCC9;
}
#breeding_results{
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  width: 80%;
  margin: auto;
  float: left;
  background: #BDFCC9;
}




