/* A big file for all the base css classes that can later be called somewhere else: keeps the html cleaner */


/*Typography section */

/*Forms */

/*Frames */
/*body.frame{margin:0;background:none;}
*/
/*Colums */

/*Main Styles */

/*Main Form */
/*.main_form{width:500px; float:left; backgrounf-color:#fff;border:5px solid #f2f2f2; padding:20px; margin:10px 0px 0; box-shadow:1px 1px 5px;
}
.main_form label
.main_form h1
.main_form h2
.main_form h3
.main_form textarea{font-size:14px;}
*/ 
/*Headers*/

/*Main Menu*/

/*Login Page*/

/*User Profile*/

/* Footer */

