/* A big file for all the base css classes that can later be called somewhere else: keeps the html cleaner */

#error { display: block; color: red; }

body, select, input, textarea{color:#333}

/*Typography section */
h1,h2,h3,h4,h5,p{font-size:12px; font-family:"Comic Sans", Helvetica,sans-serif; text-align:left; margin:1em; color: #6495ed;}
h1{font-size:20px; font-family:bold; margin-bottom:1em; text-align: center;}
h2{font-size:18px; font-family:bold; margin-bottom:1.2em; text-align: center;}
h3{font-size:15px; margin-bottom:1.5em; text-indent: 10px}
h4{font-size:15px;}
h5{font-family:italic; margin-bottom:1.5em; text-indent:5px;}
p{margin-bottom:0.5em;}

a:link {color: #009900;}
a:visited {color: #999999;}
a:hover {color: #333333;}
a:focus {color: #333333;}
a:active {color: #009900;}

/*Help Page*/
.help{width:80%; 
	margin: auto; 
	padding:20px; 
	border: 1px solid #666; 
	background: #ffffff url('image/rainbow.png')top left no-repeat fixed;
	border: 1px dotted thin #dda0dd ;}

/*Friends Page*/
.friends_list {
	width:80%;
	margin:auto;
	border: 2px solid #666;
	background: #ffffff;
}
.current_friends{
	width: 60%;
	margin-left: 5px;
	/*border: 1px solid #666; */
}
.current_friend{

}
.pending_friends{
	width: 60%;
	margin-left: 5px;
	/* border: 1px solid #666; */
}
.pending_friend{

}
.friend_buttons {
	width: 80%;
	margin-left: 5px;
	text-align: right;
	/*border: 1px solid #666; */
}
.send_request{

}


/*Lists!*/

html{
	font:11px Arial, Helvetica, sans-serif; /* Sets the font size and type for the whole html page */
	color:#333;} /* Sets the font color for the whole html page */
.menu{
	width: 100%; /* The menu should be the entire width of it's surrounding object, in this case the whole page */
	background-color: #333;} /* dark grey bg */

.menu ul{
	margin: 0;
	padding: 0;
	float: left;}

.menu ul li{
	display: inline;} /* Makes the link all appear in one line, rather than on top of each other */

.menu ul li a{
	float: left; 
	text-decoration: none; /* removes the underline from the menu text */
	color: #fff; /* text color of the menu */
	padding: 10.5px 11px; /* 10.5px of padding to the right and left of the link and 11px to the top and bottom */
	background-color: #333;}

.menu ul li a:visited{ /* This bit just makes sure the text color doesn't change once you've visited a link */
	color: #fff;
	text-decoration: none;}

.menu ul li a:hover, .menu ul li .current{
	color: #fff;
	background-color:#0b75b2;} /* change the background color of the list item when you hover over it */


/* Frame */

/*Colums */



/*Main Styles */



/*Main Form */



/*Login Page*/



/*User Profile*/



/*Battle & Breed Page*/



/*Friends Page*/



/* Footer */

